@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<hr />
    <h1>The Garden of Faith</h1>
<hr />
<br />
<p>
    please bear in mind that this is killing poverty method!
</p>