@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div>
    <h1>This is the secret to success!</h1>
    <hr />
    <br />
    <p>
        the first thing is to make sure you got all your tools in place and then <strong>work my bro</strong>
    </p>
</div>